body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#container {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bgImg.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(237 176 176 / 0.1)), url(bgImg.jpg);
    /* background-image: url(bgImg.jpg); */
    height: 700px;
    width: 1000px;
    margin: 20px auto;
}

#calculator {
    background-color: #eaedef;
    height: 520px;
    width: 320px;
    padding: 50px auto;
    margin: 0 auto;
    top: 70px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 15px;
    color: #919191
}

#output {
    text-align: right;
    font-size: 30px;
    height: 60px;
    margin: 10px 20px;
}

#keyboard {
    height: 330px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: 600;
    font-size: 15px;
}

.number, .empty {
    background-color: #eaedef;
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 18px;
}

.operator:active, .number:active {
    font-size: 18px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

button:nth-child(1) {
    font-size: 13px;
    background-color: lightgray;
}

button:nth-child(2) {
    font-size: 13px;
    background-color: lightgray;
}

button:nth-child(3) {
    font-size: 13px;
    background-color: lightgray;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}
